.nav{
     cursor: pointer;
}

.navbar{
     margin-bottom: 20px;
}

.navbar-nav{
    flex-direction: row;
}

.nav-link {
   padding-right: .5rem !important;
   padding-left: .5rem !important;
}

.ml-auto{
  left: auto !important;
  right: 0px;
}

.cntrNotif{
     position: relative;
     width: 100%;
     min-height: 1px;
     padding-right: 20px;
     padding-left: 20px;
     display: block;
     box-sizing: border-box;
}

.row{
     display: flex;
     flex-wrap: wrap;
}

.portfolio-item {
     margin-bottom: 30px;
}

.card{
     border: 1px solid rgba(0,0,0,.125);
}

.card-body{
     padding: 1.25rem;
}

.card-img-top {
     width: 100%;
     border-top-left-radius: calc(.25rem - 1px);
     border-top-right-radius: calc(.25rem - 1px);
     padding: .25rem;
}

.barraPesquisa{
     margin-bottom: 1rem;
     margin-top: 1rem;
}

.myTasks tbody tr:hover{
     cursor: pointer;
}

.cardForum{
    margin-bottom: 1.2rem;
}

.cabecalhoForum{
    background-color: gainsboro
}