.nav{
     cursor: pointer;
}

.navbar{
     margin-bottom: 20px;
}

.navbar-nav{
    flex-direction: row;
}

.nav-link {
   padding-right: .5rem !important;
   padding-left: .5rem !important;
}

.nav-item::after{
	content:'';
	display:block;
	width:0px;
	height:2px;
	background:#ffffff;
	transition: 0.2s;
}

.nav-item:hover::after{
	width:100%;
}

.ml-auto{
  left: auto !important;
  right: 0px;
}

.cntrNotif{
     position: relative;
     width: 100%;
     min-height: 1px;
     padding-right: 20px;
     padding-left: 20px;
     display: block;
     box-sizing: border-box;
}

.row{
     display: flex;
     flex-wrap: wrap;
}

.portfolio-item {
     margin-bottom: 30px;
}

.card{
     border: 1px solid rgba(0,0,0,.125);
     border-radius: 2rem;
}

.card-header:first-child{
     border-top-left-radius: 2rem;
     border-top-right-radius: 2rem;
     border-bottom-left-radius: 0rem;
     border-bottom-right-radius: 0rem;
}

.card-body{
     padding: 1.25rem;
}

.card-img-top {
     width: 100%;
     padding: .25rem;
     border-top-left-radius: 2rem;
     border-top-right-radius: 2rem;
     border-bottom-left-radius: 0rem;
     border-bottom-right-radius: 0rem;
}

.barraPesquisa{
     margin-bottom: 1rem;
     margin-top: 1rem;
}

.table tr:hover{
     cursor: pointer;
}

.cardForum{
    margin-bottom: 1.2rem;
    border-radius: 2rem;
}

.cabecalhoForum{
    background-color: gainsboro;
     border-top-left-radius: 2rem;
     border-top-right-radius: 2rem;
     border-bottom-left-radius: 0rem;
     border-bottom-right-radius: 0rem;
}