<select class="custom-select" id="statusTask" name="statusTask">
    <option selected>{{ tupla['STATUS_PROGR'] }}</option>
    <option value="1">Ag. liberação para a produção</option>
    <option value="2">Ag. atribuição do avaliador</option>
    <option value="3">Ag. avaliação e estimativa</option>
    <option value="4">Pendente de definição</option>
    <option value="5">Agendado para execução</option>
    <option value="6">Ag. Validação de software</option>
    <option value="7">Ag. validação de requisitos - Suporte</option>
    <option value="8">Ag. liberação/publicação</option>
    <option value="9">Executado</option>
 </select>