    <label for="statusTask">Status da Tarefa:</label>
    <select class="custom-select" id="statusTask" name="statusTask">
        {% if tupla.status_progr == 1 %}
        <option selected>Ag. liberação para a produção</option>
        {% elif tupla.status_progr == 2 %}
        <option selected>Ag. atribuição do avaliador</option>
        {% elif tupla.status_progr == 3 %}
        <option selected>Ag. avaliação e estimativa</option>
        {% elif tupla.status_progr == 4 %}
        <option selected>Pendente de definição</option>
        {% elif tupla.status_progr == 5 %}
        <option selected>Agendado para execução</option>
        {% elif tupla.status_progr == 6 %}
        <option selected>Ag. Validação de software</option>
        {% elif tupla.status_progr == 7 %}
        <option selected>Ag. validação de requisitos - Suporte</option>
        {% elif tupla.status_progr == 8 %}
        <option selected>Ag. liberação/publicação</option>
        {% elif tupla.status_progr == 9 %}
        <option selected>Executado</option>
        {% endif %}
    </select>