{% if ncs %}
<table class="table table-bordered table-striped table-hover">
     <thead>
     <tr>
         <th>Não Conformidade</th>
         <th>Módulo</th>
         <th class="d-none d-sm-table-cell">Descrição</th>
         <th class="d-none d-sm-table-cell">Analista</th>
     </tr>
     </thead>
     <tbody id="tableListTasksNcs">
     {% for tupla in ncs %}

     <tr class="table-danger context-menu" id="tableListTasksNcsTr{{ tupla.idnao_conf }}">
         <td>{{ tupla.idnao_conf }}</td>
         <td>{{ tupla.modulo.ds_mod }}</td>
         <td class="d-none d-sm-table-cell">{{ tupla.ds_naoconf }}</td>
         <td class="d-none d-sm-table-cell">{{ tupla.usuario_de }}</td>
     </tr>
     {% endfor %}
     </tbody>
 </table>
{% endif %}