{% if tasks %}
<table class="table table-bordered table-striped table-hover">
     <thead>
     <tr>
         <th>Tarefa</th>
         <th>Módulo</th>
         <th class="d-none d-sm-table-cell">Descrição</th>
         <th class="d-none d-sm-table-cell">Analista</th>
     </tr>
     </thead>
     <tbody id="myTask">
     {% for tupla in tasks %}

     {% if tupla.status_progr == 8 %}
     <tr class="table-primary context-menu" id="myTaskTr{{ tupla.idtarefa }}" data-toggle="tooltip" data-placement="top" title="A Tarefa pode ser publicada!">
     {% elif tupla.status_solic_orcamento == 'AO' %}
     <tr class="table-warning context-menu" id="myTaskTr{{ tupla.idtarefa }}" data-toggle="tooltip" data-placement="top" title="A Tarefa está aguardando orçamento!">
     {% else %}
     <tr class="table-success context-menu" id="myTaskTr{{ tupla.idtarefa }}">
     {% endif %}

         <td>{{ tupla.idtarefa }}</td>
         <td>{{ tupla.modulo.ds_mod }}</td>
         <td class="d-none d-sm-table-cell">{{ tupla.desc_tar }}</td>
         <td class="d-none d-sm-table-cell">{{ tupla.de }}</td>
     </tr>
     {% endfor %}
     </tbody>
 </table>
{% endif %}