<!DOCTYPE>
    <head>
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>Login</title>
        {% endif %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS LOCAIS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/thirdy/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/thirdy/dragula.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/thirdy/jquery.contextMenu.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/relatorio.css') }}">
     <!-- SCRIPTS LOCAIS -->
    <script src="{{ url_for('static', filename='js/thirdy/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/thirdy/bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/thirdy/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/thirdy/notify.js') }}"></script>
	<script src="{{ url_for('static', filename='js/thirdy/jquery.contextMenu.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/thirdy/jquery.ui.position.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/thirdy/easytimer.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/thirdy/dragula.min.js') }}"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <a class="navbar-brand" href="/dashboard"> {{ session['username'] }} </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="myNavbar">
                <ul class="navbar-nav mr-auto">
                    <!-- DROPDOWN COM ACESSOS MAIS RÁPIDOS -->
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-target="#navbarDropdownItens" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Rotinas
                        </a>
                        <div id="navbarDropdownItens" class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/emails">E-mails internos</a>
                            <a class="dropdown-item" href="/tasks">Tarefas</a>
                            <a class="dropdown-item" href="/todo">To do</a>
                        </div>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="logout">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>

        {% block content %}
        {% endblock %}