<!DOCTYPE html>
<html>
        {% extends "base.html" %}
        {% block content %}
        <div class="container">
			<div class="row">
				<div class="col-lg-4 portfolio-item">
					<div class="card h-100">
						<a href="emails"><img class="card-img-top" src="{{ url_for('static', filename='img/emails.png') }}" alt=""></a>
						<div class="card-body">
							<h4 class="card-title">
							<a href="emails">E-mails internos
								{% if total_emails %}
								<span class="badge badge-primary badge-pill" id="badge_emails"> {{ total_emails }}</span>
								{% else %}
								<span class="badge badge-primary badge-pill" id="badge_emails"> 0 </span>
								{% endif %}
							</a>
							</h4>
							<p class="card-text">Listagem dos e-mails internos com problema no envio.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 portfolio-item">
					<div class="card h-100">
						<a href="tasks"><img class="card-img-top" src="{{ url_for('static', filename='img/tasks.png') }}" alt=""></a>
						<div class="card-body">
							<h4 class="card-title">
								<a href="tasks">Tarefas
									{% if total_tasks %}
									<span class="badge badge-primary badge-pill" id="badge_tasks"> {{ total_tasks }} </span>
									{% else %}
									<span class="badge badge-primary badge-pill" id="badge_tasks"> 0 </span>
									{% endif %}
								</a>
							</h4>
							<p class="card-text">Visualize as suas tarefas do módulo de Programação.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 portfolio-item">
					<div class="card h-100">
						<a href="ncs"><img class="card-img-top" src="{{ url_for('static', filename='img/ncs.png') }}" alt=""></a>
						<div class="card-body">
							<h4 class="card-title">
							<a href="tasks">Nc's
								{% if total_ncs %}
								<span class="badge badge-primary badge-pill" id="badge_ncs"> {{ total_ncs }} </span>
								{% else %}
								<span class="badge badge-primary badge-pill" id="badge_ncs"> 0 </span>
								{% endif %}
							</a>
							</h4>
							<p class="card-text">Visualize as não conformidades cadastradas para você.</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- SE TIVER MENSAGENS NO FLASH, COMO ERRO OU SUCESSO DE REPLACE, EU MOSTRO -->
        <script type="text/javascript">
            
			{% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                   $.notify(" {{message}} ", "success");
                {% endfor %}
            {% endif %}
            {% endwith %}

            function get_valores(){
                $.ajax({
                    url: "/_dashboardValues",
                    type: 'GET',
                    success: function(res) {
                       document.getElementById('badge_emails').innerHTML = res['total_emails'];
                       document.getElementById('badge_tasks').innerHTML = res['total_tasks'];
                       document.getElementById('badge_ncs').innerHTML = res['total_ncs'];
                    }
                });
            }

            function atualiza_valores() {
    			setInterval(function(){
    				get_valores();
    			}, 3000);
			}
			
			$(document).ready(function (){

				atualiza_valores();
			
				$('.portfolio-item').hover(
					function(){
						$(this).animate({
							marginTop: "-=1%",
						}, 200);
					},
					function(){
						$(this).animate({
							marginTop: "0%",
						}, 200);
					}
				);
			});

$(document).ready(function (){

				$('.portfolio-item').hover(
					function(){
						$(this).animate({
							marginTop: "-=1%",
						}, 200);
					},
					function(){
						$(this).animate({
							marginTop: "0%",
						}, 200);
					}
				);
			});

        </script>

        {% endblock %}
    </body>
</html>


