<!DOCTYPE html>
<html>
{% extends "base.html" %}
{% block content %}

<div class="container">
    {% include "sub/_searchBar.html" %}
    <div class="tableTasks">
        {% include "sub/_tableEmails.html" %}
    </div>
    <a href="sendEmails" type="button" class="btn btn-primary"> Enviar e-mails </a>
</div>

{% include "sub/_modalEmails.html" %}

<script type="text/javascript" src="{{ url_for('static', filename='js/emails/emails.js') }}"> </script>
<script type="text/javascript">
    
    {% with errors = get_flashed_messages(category_filter=["error"]) %}
        {% if errors %}
            {% for msg in errors %}
                $.notify(" {{msg}} ", "error");
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% with successes = get_flashed_messages(category_filter=["success"]) %}
        {% if successes %}
            {% for msg in successes %}
                $.notify(" {{msg}} ", "success");
            {% endfor %}
        {% endif %}
    {% endwith %}

</script>

{% endblock %}
</body>
</html>
