<!DOCTYPE html>
<html>
    {% extends "base.html" %}
    {% block content %}
    <div class="container">
        <div class="card cardForum">
            <div class="card-body">
                <form role="form" method="POST">
                    <div class="form-group">
                        <label for="novaMensagemForum">Mensagem:</label>
                        <textarea class="form-control" id="novaMensagemForum" name="mensagem" value=""  required="" autofocus></textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
        {% for tupla in forum %}
        <div class="card cardForum">
            <h5 class="card-header cabecalhoForum">De: {{ tupla.usuario }}</h5>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <pre>{{ tupla.comentario }}</pre>
                    <footer class="blockquote-footer">
                        Respondida em
                        <cite title="Source Title">
                          {{ tupla.dt_cadastro }}
                        </cite>
                    </footer>
                </blockquote>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endblock %}
    <!-- 27554 -->
    </body>
</html>