<html>
{% extends "base.html" %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="md-form barraPesquisa">
                    <input class="form-control" type="text" placeholder="Pesquisar" aria-label="Search" id="mySearch">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 drag-elements" id="drag-elements">
			<legend class="legend"> A Fazer </legend>
                {% for tupla in tasks[0] %}
                    <div class="card text-white bg-info mb-3">
                        <div class="card-body">
                            <h5 class="card-title">{{ tupla['ID'] }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ tupla['USUARIO_DE'] }}</h6>
                            <p class="card-text">{{ tupla['DESCRICAO'] }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-md-6" id="drag-target"> 
				<legend class="legend"> Fazendo </legend>
				
			</div>
        </div>
        <footer class="text-center mt-auto">
            <div id="timerTask">
                00:00:00
            </div>
        </footer>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/todo/todo.js') }}"> </script>

    {% endblock %}
</body>
</html>
